.one {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-column: span 6;
    grid-row: span 1;
    background-image: url("../Images/Photography/bus.jpg");
  }
  .two {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-column: span 4;
    grid-row: span 1;
    background-image: url("../Images/Photography/reflection.jpg");
  }
  .three {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-column: span 4;
    grid-row: span 1;
    background-image: url("../Images/Photography/window.jpg");
  }
  .four {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-column: span 7;
    grid-row: span 1;
    background-image: url("../Images/Photography/shoes.jpg");
  }
  .five {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-column: span 8;
    grid-row: span 1;
    background-image: url("../Images/Photography/Jacket.jpg");
  }
  .six {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-column: 1 / span 7;
    grid-row: span 1;
    background-image: url("../Images/Photography/newspaper.jpg");
  }
  .seven {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-column: 8 / span 8;
    grid-row: span 1;
    background-image: url("../Images/Photography/Support.jpg");
  }
  .eight {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-column: 1 / span 6;
    grid-row: span 1;
    background-image: url("../Images/Photography/standing.jpg");
  }
  .ten {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-column: 7 / span 4;
    grid-row: span 1;
    background-image: url("../Images/Photography/graffiti.jpg");
  }
  .eleven {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-column: 11 / span 4;
    grid-row: span 1;
    background-image: url("../Images/Photography/drawing.jpg");
  }
  .twelve {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-column: 1 / span 7;
    grid-row: span 1;
    background-image: url("../Images/Photography/drummer.jpg");
  }
  .thirteen {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-column: 8 / span 8;
    grid-row: span 1;
    background-image: url("../Images/Photography/spraycan.jpg");
  }
  .fourteen {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-column: 1 / span 6;
    grid-row: span 1;
    background-image: url("../Images/Photography/airplane.jpg");
  }
  .fifteen {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-column: 7/ span 4;
    grid-row: span 1;
    background-image: url("../Images/Photography/bench.jpg");
  }
  .sixteen{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-column: 11 / span 4;
    grid-row: span 1;
    background-image: url("../Images/Photography/garage.jpg");
  }
  .seventeen {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-column: 1 / span 6;
    grid-row: span 1;
    background-image: url("../Images/Photography/skateboard.jpg");
  }
  .eighteen {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-column: 7 / span 4;
    grid-row: span 1;
    background-image: url("../Images/Photography/ladder.jpg");
  }
  .nineteen {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-column: 11 / span 4;
    grid-row: span 1;
    background-image: url("../Images/Photography/bridge1.jpg");
  }
.gallery {
  height: 1500px;
  width: 100%;
}